<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="Layout :: import"></div>
<title>Update Topic</title>
</head>

<body>

	<!-- Sidebar -->
	<div th:replace="Layout :: sidemenu"></div>
	<!-- header -->
	<div th:replace="Layout :: header"></div>

	<div class="content-wrap">
		<div class="main">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-8 p-r-0 title-margin-right">
						<div class="page-header">
							<div class="page-title">
								<h1>Update Topic</h1>
							</div>
						</div>
					</div>
					<div class="col-lg-4 p-l-0 title-margin-left">
						<div class="page-header">
							<div class="page-title">
								<ol class="breadcrumb">
									<li class="breadcrumb-item">Filing Code</li>
									<li class="breadcrumb-item active">Update Topic</li>
								</ol>
							</div>
						</div>
					</div>
					<!-- /# column -->
				</div>
				<section id="main-content">
					<div class="row">
						<div class="col">
							<div class="card">
								<div class="card-title">
									<h4>Update Topic</h4>
								</div>
								<div class="card-body">
									<div class="basic-elements">
										<form th:action="@{/filingCode/topic/saveTopic}" th:object="${fileTopic}"
											method="POST">

											<div class="form-group">
												<input type="hidden" th:field="*{id}" /> <input
													type="hidden" th:field="*{enterDate}" /> <input
													type="hidden" th:field="*{enterBy}" /> <label>Topic
													Title</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" th:field="*{title}"
														placeholder="Topic Title" required>
												</div>
											</div>
											<div class="form-group">
												<label>Main Topic Reference</label>
												<div class="col-sm-10">
													<input type="text" class="form-control"
														th:field="*{topicRefID}"
														placeholder="Main Topic Reference Code" required>
												</div>
											</div>
											<div class="form-group">
												<label>Topic Class</label>
												<div class="col-sm-10">
													<input type="text" class="form-control"
														th:field="*{topicClass}" placeholder="Topic Class"
														required>
												</div>
											</div>
											<div class="form-group">
												<label>Volume Number</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" th:field="*{volumeNo}"
														placeholder="Volume Number" required>
												</div>
											</div>
											<div class="form-group">
												<label>Start Date</label>
												<div class="col-sm-10">
													<input type="date" id="mdate" class="form-control"
														th:field="*{dateStart}" required>
												</div>
											</div>
											<div class="form-group">
												<label>End Date</label>
												<div class="col-sm-10">
													<input type="date" id="date" class="form-control"
														th:field="*{dateEnd}">
												</div>
											</div>
											<input type="hidden" th:name="updateBy"
												th:value="${#httpServletRequest.remoteUser}" /> <input
												type="hidden" th:name="updateDate"
												th:value="${#dates.format(#dates.createNow(),'YYYY-MM-dd HH:mm')}" />

											<button type="submit"
												class="btn btn-primary btn-flat m-b-10 m-l-5">Update
												Topic</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Footer -->
					<div class="row">
						<div class="col-lg-12">
							<div th:replace="Layout :: footer"></div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<div th:replace="Layout :: js"></div>
</body>

</html>